#fileInput {
    display: block;
    margin: 0 auto;
}

#xlsxTransformationUpload {
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
}

.tableHeader {
    text-align: center;
}

/*
Eggshell
*/
.flowTypeButton {
    background-color: #f5f5dc;
    color: #333;
}

/*
Light Green
*/
.saveButton {
    background-color: #c8e6c9;
    color: #333;
}

/*
Light Blue
*/
.deployButton {
    background-color: #fff3cd;
    color: #333;
}

.addOutputDestination {
    background-color: #FFE0B3;
    color: #333;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #4CAF50;
}

table {
    border-collapse: separate;
    border-spacing: 12px;
}

.rawPaintsHeader {
    background-color: #FFE0B3;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

.yourPaintBrushHeader {
    background-color: #D9CCE8;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

.shareYourMasterpieceHeader {
    background-color: #D4E8D4;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}
